stud_xsd.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
targetNamespace="file:///C:/stud"
elementFormDefault="qualified">

<xs:element name="class">

<xs:complexType>
  <xs:sequence>
    <xs:element name="student">
	<xs:complexType>
		<xs:sequence>
			<xs:element name="id" type="xs:integer"/>
			<xs:element name="name" type="xs:string"/>
			<xs:element name="marks" type="xs:integer"/>
		</xs:sequence>
	</xs:complexType>
  </xs:sequence>
</xs:complexType>

</xs:element>